<div class="row justify-content-center container-fluid text-center mt-5">
  <div>
    <h1>O que estão compartilhando</h1>
  </div>
  <div class="d-flex justify-content-center">
      <div class="">
        <div class="">
          <div class="border border-1 border-black rounded-5 p-2">
            <div class="d-flex "><i class='bx bxs-map'></i> <input type="text" #searchtext class="border-0 no-focus-outline" placeholder="San Francisco,USA" (input)="search(searchtext.value)">
              <button class="bg-transparent border-0 "><i class="bi bi-search"></i></button>
            </div>
          </div>
        </div>
      </div>
  </div>

</div>
